.App {
  padding: 30px;
  display: flex;
}

.App > div {
  margin-right: 50px;
}

.btn-remove {
    background-color: orange;
}

.active-filter {
    background-color: orange;
}

.error {
    border: red 2px solid;
    outline: transparent;

}

.error-text {
    color: red
}